@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;700&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	overflow: hidden;
}

:root {
	--font-primary: "Orbitron", sans-serif;
}

body {
	display: flex;
	min-height: 100vh;
	font-family: var(--font-primary);
}

.clock {
	margin: auto;
	background-color: #333;
	color: white;
	border-radius: 10px;
	border: 10px solid tan;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.time {
	padding: 20px 40px;
	font-size: 52px;
	color: red;
}

.date {
	font-size: 1rem;
	text-transform: uppercase;
	margin-bottom: 10px;
	word-spacing: 0.6rem;
}

.date span {
	letter-spacing: 0.2rem;
}

.time span.colon {
	animation: blink 2s infinite;
}

@keyframes blink {
	0% {
		opacity: 0;
	}
	30% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	70% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
